body {
  background-image: "/assets/background.svg";
}

.imagePorto {
  max-width: 500px;
}

.Text {
  font-size: 30px;
}

.FirstInfo {
  padding: 1rem;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30rem;
  align-items: start;
  margin-bottom: 6rem;
}

.Title {
  max-width: 460px;
  margin-left: 5rem;
  margin-top: 3rem;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  line-height: 5rem;
}

.Name {
  color: transparent;
  -webkit-text-stroke: 3.5px #2c2f33;
}

.FrontDiv {
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-top: 2.5rem;
}

.BackDiv {
  padding-left: 2rem;
}

.StackTitle {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-right: 7.4rem;
}

.FrontStacks,
.BackStacks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Resume {
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 5rem;
  margin-bottom: 5rem;
  transition: all 0.3s ease;
}

.Resume:hover {
  color: var(--color-accent-subtle);
  text-underline-offset: 4px;
  text-decoration-color: var(--app-text);
}

.AboutTitle {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 6.5rem;
  color: #2c2f33;
  padding-left: 3rem;
}

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18rem;
  align-items: start;
  margin-bottom: 1rem;
  margin-left: 3rem;
  font-family: "Inter", sans-serif;
}

.AboutP {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  min-width: 40rem;
  padding-top: 2rem;
}

.sectionBlackBg {
  background-image: url("/assets/background.svg");
  filter: invert(98%);
  animation: slow-pan 80s linear infinite alternate;
  background-repeat: repeat;
}

@keyframes slow-pan {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 15% 15%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ContactPull {
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
  align-items: start;
}

.ContactEmailTitle {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #1e1d1d;
}

.ContactEmailPara {
  font-family: "inter";
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  line-height: -1.5rem;
  font-size: 25px;
}

.ContactMessagePara {
  font-family: "inter";
  padding-top: 1rem;
  font-size: 20px;
}
