body {
  background-image: "/assets/background.svg";
}

.imagePorto {
  max-width: 800px;
}

.Text {
  font-size: 30px;
}

.FirstInfo {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40rem;
  align-items: start;
  margin-bottom: 6rem;
}

.Title {
  max-width: 660px;
  margin-left: 5rem;
  margin-top: 5rem;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  line-height: 6.5rem;
}

.Name {
  color: transparent;
  -webkit-text-stroke: 3.5px #2c2f33;
}

.FrontDiv {
  padding-bottom: 8rem;
  padding-left: 2rem;
  padding-top: 4rem;
}

.BackDiv {
  padding-left: 2rem;
}

.StackTitle {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.FrontStacks,
.BackStacks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Resume {
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 5rem;
  margin-bottom: 5rem;
  transition: all 0.3s ease;
}

.Resume:hover {
  color: var(--color-accent-subtle);
  text-underline-offset: 4px;
  text-decoration-color: var(--app-text);
}

.AboutTitle,
.CertTitle {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  line-height: 6.5rem;
  margin-bottom: 2rem;
  color: #2c2f33;
  padding-left: 2rem;
}

.CertSubT {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 6.5rem;
  color: #2c2f33;
}

.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-items: start;
  margin-bottom: 3rem;
  margin-left: 2rem;
  font-family: "Inter", sans-serif;
  padding: 2rem;
}

.AboutP {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  min-width: 49rem;
}

.CertP {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-bottom: 3rem;
  color: #2c2f33;
}

.CertTitle {
  padding-top: 10rem;
}

.sectionBlackBg {
  background-image: url("/assets/background.svg");
  filter: invert(94%);
  margin: 0;
  padding: 0;
}
