:root {
  --color-primary: #2c2f33;
  --color-background-light: #f5f2e9;
  --color-text-main: var(--color-primary);
  --color-accent-subtle: #7289da;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/background.svg");
  background-repeat: repeat;

  animation: slow-pan 60s linear infinite alternate;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slow-pan {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 15% 15%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.logo {
  fill: var(--color-primary);
}
